<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sparta 7기 유지영</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>

  <!-- 구글폰트 -->
  <link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Yeon+Sung&display=swap" rel="stylesheet">

  <script>
    function searchkeyword() {
      let q = $('#search-keyword').val();
      if (q == '') {
        alert('검색어를 입력하세요!');
        return;
      }

      $(function () {
        $('#search_results').empty();
      });

      $.ajax({
        type: "POST",
        url: "/sresults",
        data: { keyword_give: q },
        success: function (response) {
          let items = response['items'];
          for (let i = 0; i < items.length; i++) {
            let title = items[i]['title'];
            let url = items[i]['link'];
            let temp_html = '<tr>\
              <td><input type="checkbox" class="nameCheck" name="checkRow"/></td>\
                                  <td>'+ title + '</td>\
                                  <td>'+ url + '</td>\
                                </tr>'
            $('#search_results').append(temp_html);
          }
        }
      })
    }

    function checkAll() {
      if ($("#th_checkAll").is(':checked')) {
        $("input[name=checkRow]").prop("checked", true);
      } else {
        $("input[name=checkRow]").prop("checked", false);
      }
    }


    function exporttoexcel() {

      var values = new Array();

      $.each($("input[name=checkRow]:checked").closest("td").siblings("td"), function () {
        values.push($(this).text())
      })
      var titles = []
      var urls = []
      for (let i = 0; i < values.length; i++) {
        if (i % 2 == 0) {
          titles.push(values[i])
        } else {
          urls.push(values[i])
        }
      }
      var brands = []
      
      for (let i = 0; i < titles.length; i++) {
      	brands.push({'brand': titles[i], 'url': urls[i]})
      }


    $.ajax({
      type: "POST",
      url: "/json2csv",
      header: { "content-type": "application/json" },
      data: JSON.stringify(brands),
      success: function (response) {
          //alert(response)
          var _data = response;
          var _blob = new Blob([_data], {type:'text/csv;charset=utf-8;'});
          var _url = URL.createObjectURL(_blob);
          var _link = document.createElement('a');
          _link.href = _url;
          _link.setAttribute('download','download.csv');
          _link.click();
      }
    })
    }



  </script>

  <!-- style -->
  <style type="text/css">
    * {
      font-family: 'Nanum Myeongjo', serif;
    }

    h1 {
      font-family: 'Yeon Sung', cursive;
      text-align: center;
      margin-top: 100px;
      font-size: 50px;
    }

    .wrap {

      margin-left: 100px;
      margin-right: 100px;

    }

    table,
    th,
    td {
      text-align: center;
    }
  </style>
</head>

<body>
  <h1>브랜드 모니터링</h1>
  <nav class="navbar navbar-light">
    <div class="mx-auto" style="width: 300px;">
      <!--      <form class="form-inline">-->
      <input class="form-control mr-sm-2" id="search-keyword" type="search" placeholder="브랜드명을 입력하세요."
        aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" onclick="searchkeyword()" type="submit">검색</button>
      <!--/form-->
    </div>
  </nav>
  <p>
  </p>
  <div class="wrap">
    <div id="saving" style="text-align:right">
      <button type="button" class="btn btn-primary" onclick="exporttoexcel()">EXCEL로 저장</button>
    </div>

    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th width=20><input type="checkbox" name="checkAll" id="th_checkAll" onclick="checkAll()"></th>
          <th width=300 scope="col">상품명</th>
          <th width=300 scope="col">URL</th>
        </tr>
      </thead>
      <tbody id="search_results">
        <tr>
          <td class="nameCheck center"><input type="checkbox" class="nameCheck" name="checkRow" /></td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>
