<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sparta 7기 유지영</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <script>
    function searchkeyword() {
      let q = $('#search-keyword').val();
      if (q == '') {
        alert('검색어를 입력하세요!');
        return;
      }


      $.ajax({
        type: "POST",
        url: "/sresults",
        data: { keyword_give: q },
        success: function (response) {
          let keywordresults = response['items'];
          for (let i = 0; i < keywordresults.length; i++) {
            let title = items[i]['title'];
            let url = items[i]['link'];

            let temp_html = '<tr>\
                                  <td>'+ title + '</td>\
                                  <td>'+ url + '</td>\
                                </tr>'
            $('#search_results').append(temp_html);
          }
        }
      })
    }
  </script>

  <!-- style -->
  <style type="text/css">
    h1 {
      text-align: center;
      margin-top: 100px;
      font-size: 50px;
    }
  </style>
</head>

<body>
  <h1>브랜드 모니터링</h1>
  <nav class="navbar navbar-light bg-light">
    <div class="mx-auto" style="width: 300px;">
      <form class="form-inline">
        <input class="form-control mr-sm-2" id="search-keyword" type="search" placeholder="브랜드명을 입력하세요."
          aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" onclick="searchkeyword()" , type="submit">검색</button>
      </form>
    </div>
  </nav>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">상품명</th>
        <th scope="col">URL</th>
      </tr>
    </thead>
    <tbody id="search_results">
      <tr>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
    </tbody>
  </table>
</body>

</html>